<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css"
  />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />



    <link rel="stylesheet" href="/css/preview.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/usernavbar.css" />
  </head>
  <body>
    <%- include("../../partials/navbar.ejs") %>; <%
    ProjectInformation.forEach(element => { %>
    <div class="user_story_page">
      <div class="user_story_left_side">
        <div class="user_story_picture">
          <img
            class="card-cover-img"
            src="data:image/<%=element.CoverPicture.contentType%>;base64,
<%=element.CoverPicture.data.toString('base64')%>"
            alt="Sample"
            title="Cover picture of the story"
          />
        </div>
        <div class="caption_of_story">
          <p id="title"><%= element["StoryTitle"] %></p>
        </div>

        <p
          style="
            margin: 30px 0 10px;
            text-align: left;
            font-weight: bold;
            font-size: 23px;
          "
        >
          people who supported :
          <label id="profile_count"> <%= SupporterLength %></label>
        </p>
        <hr style=" width: 650px" />

        <div style="display: flex" id="supporters" class="supporters">
          <% if (SupporterProfile.length !=0) { %>
          <div style="padding: 20px 0 10px 0;" id="support-profile" class="supported_user_profile">
           <% for(var  i=0; i<SupporterProfile.length; i++)  {%>     <!--this will be changed later -->
          <a  href="#">
            <img
            style="
              border-radius: 50%;
              width: 70px;
              height: 70px;
              border: 1px solid black;
              margin: 0 10px;
            "
            src="data:image/<%=SupporterProfile[i].profileImage.contentType%>;base64,
        <%=SupporterProfile[0].profileImage.data.toString('base64')%>"
            alt="supporter-profilePic"
            title="<%= SupporterProfile[i].fullname %>"
          />
          </a>
            <% } %>
          </div>
          <% } else { %>
          <div style="width: 100%; margin: 30px 0 10px 0; " class="some_suggestion">
            <p  style="text-align: center; font-size: 17px;">Let's be the first one to help!</p>
            <p style="text-align: center; font-size: 14px; margin: 15px 0;">By sharing more people will know about the project, and it will be more likely to be supported.</p>
           <div style="display: flex; justify-content : center; font-size: 16px;" class="share-option">
            <a style="color: #12af9a!important;"  href="#Help_by_sharing"> Help by sharing</a>
           </div>
          </div>
          <% } %>
        </div>

        <p
          style="
            margin: 30px 0 15px 0;
            text-align: left;
            font-weight: bold;
            font-size: 23px;
          "
        >
          Story
        </p>

        <div class="story_teller">
          <div class="user_profile">
            <img
              style="border-radius: 50%; width: 80px; border: 1px solid black"
              src="data:image/<%=OwnerAvatar.contentType%>;base64,
        <%=OwnerAvatar.data.toString('base64')%>"
              alt="profilePic"
            />
          </div>
          <div class="user_identity">
            <p class="username"><%= username %></p>
            <p class="identity"><%= university %></p>
          </div>
        </div>
        <textarea
          style="font-family: system-ui; font-size: 18px"
          readonly
          id="mainStory"
          class="main_story"
        >
<%= element["MainStory"] %></textarea
        >

        <% if(AttachmentLength) { %> <% element.Attachments.forEach((file) => {
        %>

        <div class="gallery">
          <img
            src="data:image/<%=file.contentType%>;base64,
          <%=file.data.toString('base64')%>"
            alt="attachment-<%= file._id %>"
            width="600"
            height="500"
          />
        </div>

        <% }) %> <% } %>
      </div>
      <div class="user_story_right_side">
        <div class="collected_money_section">
          <p class="amount_head">collected money</p>
          <p class="amount">
            ৳
            <label id="curr_amount" style="font-size: 22px">
              <%= element["CurrentAmount"] %>
            </label>
          </p>
          <div class="progress">
            <progress id="progress" value="0" max="100"></progress>
          </div>
          <p
            style="margin: 10px 0; color: rgb(134, 129, 129); font-weight: bold"
          >
            Goal : ৳ <label id="goal"> <%= element["TargetAmount"] %></label>
          </p>
        </div>
        <div class="remaining_days">
          <span class="days"> Remaining Days : </span>
          <label id="project_validity"> <%= element["Validity"] %></label>
          <span class="count">
            <label id="days" style="font-weight: bold; color: #000"></label>
          </span>
        </div>
        <% if( OtherUser != undefined) { %>
        <div class="support_section">
          <div class="support_option">
            <p>
              <a
                style="text-decoration: none; color: aliceblue"
                href="/project/<%= element['_id'] %>/payment"
              >
                ৳ <%= OtherUser %>
              </a>
            </p>
          </div>
          <p
            style="
              text-align: left;
              padding: 8px;
              font-weight: bold;
              color: #000;
            "
          >
            you can use payment section
          </p>
          <div class="payment_section">
            <img src="/img/bkash.jpg" alt="bkash" />
            <img src="/img/bkash.jpg" alt="bkash" />
            <img src="/img/bkash.jpg" alt="bkash" />
          </div>
        </div>
        <% } %>
        <div class="sharing_section">
          <button style="color: #12af9a !important" onclick="ScrollDown()">
            Help by sharing
          </button>
        </div>
        <div class="easy_fund">
          <div class="about_easy_fund">
            <div class="icon">
              <span class="material-icons"> public </span>
            </div>
            <div style="padding: 5px 10px" class="text">
              <span style="font-weight: bold"> What is Easy Fund ?</span>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. menda
            deleniti. In reprehenderit eveniet asperiores?
          </p>
        </div>
      </div>
    </div>
    <% }); %>
    <div id="Help_by_sharing" class="help_by_sharing">
      <p>Help by sharing</p>
      <div class="social_icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-facebook"></i>
      </div>
      <div class="copy_link">
        <input readonly id="project-link" type="links/" value="<%= RequestedUrl
        %>"" width="70%" />
        <button id="copy-btn" onclick="CopyLink()">copy</button>
      </div>
    </div>
    <script defer>
      window.setTimeout(function () {
        document.getElementById("mainStory").style.height =
          document.getElementById("mainStory").scrollHeight + "px";
      });
      function ScrollDown() {
        window.scrollTo(0, document.body.scrollHeight);
      }

      function CopyLink() {
        const checker = document
          .getElementById("copy-btn")
          .innerHTML.toLowerCase.toString();

        let link_box = document.getElementById("project-link");
        link_box.select();
        navigator.clipboard.writeText(link_box.value);

        if (checker != "copied") {
          document.getElementById("copy-btn").innerHTML = "copied";
        }
      }

      /* this functionality determines how much amount the selected project already gained */

      const target_amount = parseInt(document.getElementById("goal").innerHTML);
      //  console.log(target_amount)// 1100
      const curr_amount = document.getElementById("curr_amount").innerHTML;
      //  console.log(curr_amount) // 560

      const Getting_percentage = (curr_amount / target_amount) * 100;
      document.getElementById("progress").value += Getting_percentage;

      //  console.log(Getting_percentage);
    </script>

    <script src="/js/navbarSlide.js"></script>
  </body>
</html>
