<form method="post">
  <div class="dashboard">
    <p>Project preview</p>
  </div>

  <div class="user_story_page">
    <div class="user_story_left_side">
      <div class="user_story_picture">
        <img
          id="ShowCover"
          src="/coverPicture/<%= CoverPicture %>"
          alt="CoverPhoto"
          title="Cover Picture of The Story"
        />
      </div>

      <div class="caption_of_story">
        <p id="title"><%= StoryTitle %></p>
      </div>

      <p
        style="
          margin: 30px 0 20px;
          text-align: left;
          font-weight: bold;
          font-size: 23px;
        "
      >
        Story
      </p>

      <div class="story_teller">
        <div class="user_profile">
          <% if(picture) { %>
          <img
            style="border-radius: 50%; width: 80px; border: 1px solid black"
            src="/profilePicture/<%= picture %>"
            alt="profilePic"
          />
          <% } else { %>

          <img
            style="border-radius: 50%; width: 80px; border: 1px solid black"
            src="/img/nophoto.png"
            alt="profilePic"
          />
          <% } %>
        </div>

        <div class="user_identity">
          <p class="username"><%= fullname %></p>
          <p class="identity"><%= university %></p>
        </div>
      </div>

      <textarea readonly id="mainStory" class="main_story">
<%= MainStory %></textarea
      >
    </div>

    <div class="user_story_right_side">
      <div class="collected_money_section">
        <p class="amount_head">collected money</p>
        <p class="amount">৳ <label style="font-size: 22px"> 0 </label></p>

        <div class="progress">
          <progress id="file" value="20" max="100">0%</progress>
        </div>

        <p style="margin: 10px 0; color: rgb(134, 129, 129); font-weight: bold">
          Goal : ৳ <label id="goal"> <%= Amount %> </label>
        </p>
      </div>

      <div class="remaining_days">
        <span class="days"> Remaining Days : </span>
        <label> <%= Validity %></label>
        <span class="count">
          <label id="days" style="font-weight: bold; color: #000"></label>
        </span>
      </div>
    </div>
  </div>

  <div class="button_container">
    <hr />
    <div class="flex_container">
      <div class="left_btn_back">
        <button type="button">
          <a style="text-decoration: none; color: #000" href="/story">Back</a>
        </button>
      </div>
      <div class="right_btn_complete">
        <button type="submit">complete</button>
      </div>
    </div>
  </div>
</form>
